/* minecraft font is ready to be used */
@import url("https://fontlibrary.org//face/minecraftia");

body {
    background-image: url(images/dirt_background.jpg);
    font-family: 'MinecraftiaRegular';
}

#info {
    background-image: url(images/shaders_backdrop.jpg);    
}

h1 {
    color:white;
    text-align: center;
}

h2, h3 {
    color: white;
}

p {
    color:white;
    font-family: 'MinecraftiaRegular';
    font-size: larger;
}

pre {
    color:white;
    font-family: 'MinecraftiaRegular';
    font-size: larger;
}

a {
    text-align: center;
    color:azure;
    font-size: 21px;
    text-decoration: none;
    
}

a:hover {
    color:orange;
}

button {
    background-color: gray;
}

#preselect:hover {
    color:orange;
}
#preselect:active {
    color:orangered;
}

.centerElements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 96px; */
    flex-direction: row;
}

.centerText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 96px; */
    flex-direction: row;
}

.changeImageSize {
    width: 255px;
    height: 255px;
}

.changeImageSize2 {
    width: 320px;
    height: 320px;
}

.changeImageSize3 {
    width: 600px;
    height: 300px;
}

/* Another way to center elements */
.centerElement {
    /* dsplay block displays image similar to how a paragraph is displayed */
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* style="margin-left: 144px; margin-bottom: 48px;"style="margin-left: 24px;"style="margin-left: 16px;" */