/* minecraft font is ready to be used */
@import url("https://fontlibrary.org//face/minecraftia");

body {
    background-image: url(images/dirt_background.jpg);
    font-family: 'MinecraftiaRegular';
}

#info {
    background-image: url(images/shaders_backdrop.jpg);    
}

h1 {
    color:white;
    text-align: center;
}

h2 {
    color: white;
}

a {
    text-align: center;
    color:azure;
    font-size: 21px;
    text-decoration: none;
    
}

a:hover {
    color:orange;
}

button {
    background-color: gray;
}

#preselect:hover {
    color:orange;
}
#preselect:active {
    color:orangered;
}

.centerElement {
    /* dsplay block displays image similar to how a paragraph is displayed */
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}